:root {
    --background--color: linear-gradient(#fff7ad, #ffa9f9);
    --font--color: black;
    --card--color: #d9d9d9;
    --footer--color: linear-gradient(#ff5757, #8c52ff);
    --logo--color: rgb(243, 127, 233);
    --bg-card--color: rgba(163, 161, 161 , 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--background--color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;

    h1 {
        color: var(--logo--color);
    }

    .menu-icon {
        width: 40px;
        cursor: pointer;
    }

    .search-icon {
        width: 40px;
        cursor: pointer;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 100px;
    height: 80vh;
    background-color: black;
    padding: 2vw;
    border-right: #f357d1 solid 1px;

    .menu {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 1vw;
    }
}

main {
    padding: 2vw;

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .left-content {
        font-size: 1rem;
        padding: 2vw;
        margin-bottom: 100px;

        h2 {
            margin-bottom: 20px;
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 100px;

        img {
            width: 250px;
        }

        p {
            margin-bottom: 200px;
        }
    }
}

#flavors {
    padding: 2vw;

    h3 {
       text-align: center;
    }

    .flavors-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;

        .flavors-card {
            border: none;
            padding: 100px;
            margin: 40px;
            border-radius: 10px;
            text-align: center;
            background: var(--bg-card--color);
            cursor: pointer;
        }
    }
}

#contact {
    padding: 2vw;

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: 1px solid rgb(150, 136, 136);
        border-radius: 10px;
        padding: 2vw;

        .campo-form {
            width: 100%;
            padding: 10px;
            outline: none;
            border: 1px solid rgb(150, 136, 136);
            border-radius: 10px;
        }
    }
}