:root {
    --background--color: linear-gradient(#fff7ad, #ffa9f9);
    --font--color: black;
    --card--color: #d9d9d9;
    --footer--color: linear-gradient(#ff5757, #8c52ff);
    --logo--color: rgb(243, 127, 233);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

body {
    background: var(--background--color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;

    h1 {
        color: var(--logo--color);
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 100px;
    height: 80vh;
    background-color: black;
    padding: 2vw;
    border-right: #f357d1 solid 1px;

    .menu {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 1vw;
    }
}